/* basic card template */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
:root {
	--image-border: 0px;
}
.fade-in {
	animation: fadeIn 1s ease-in;
}

.fade-in-alt {
	animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.price_card_container {
	/* add circle gradien */
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;

	align-items: center;
	height: 300px;
	width: 525px;
	margin-top: 1rem;

	margin-left: 1rem;
	margin-right: 1rem;
	box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.2);
	border-radius: var(--image-border);

	border-width: 3px;
	border-style: none;
	border-color: var(--hover_pink);

	/* background-color: red; */
}

.price-cards-group {
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}

.price_card_container:hover .price_tags {
	visibility: visible;
}

.price_card_container:hover .title-banner {
	opacity: 0%;
}

.price_card_container:hover #overlay {
	opacity: 90%;
}

.commission_image {
	position: relative;
	width: 100%; /* or any custom size */
	height: 100%;
	object-fit: cover;
	overflow: hidden;

	border-radius: var(--image-border);
	z-index: 0;
}

#overlay {
	z-index: 1;
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
	overflow: hidden;
	opacity: 20%;
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.6),
		rgb(0, 0, 0, 0.8)
	);
	transition: opacity ease-in-out;
	transition-duration: 200ms;
}

.title-banner {
	width: 70%;
	opacity: 100%;
	text-align: center;
	position: absolute;
	display: flex;
	justify-content: center;
	overflow: hidden;
	color: white;
	/* object-fit: cover; */
	margin-top: 14rem;
	transition: all ease-in-out;
	transition-duration: 200ms;
	z-index: 2;
}

.price_card_box {
	/* background-color: red; */
	position: absolute;

	align-items: center;
	/* height: 100%; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 2;
}

.price_tags {
	visibility: hidden;
}

.price_tags > p {
	color: white;
	font-size: 2rem;
}
