/* basic card template */
.price_card_container {
	/* add circle gradien */
	background: radial-gradient(
		450px circle at 50px 50px,
		rgba(171, 40, 0, 0.325),
		transparent 60%
	);
	z-index: 3;

	height: 300px;
	width: 230px;
	/* padding: 20px; */
	margin-top: 10px;
	box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.2);
	border-radius: 20px;

	border-width: 3px;
	border-style: none;
	border-color: var(--hover_pink);
	background-color: var(--card_colour);
}

.price_line {
	width: 100px;
	height: 1px;
	border: 1px solid var(--hover_pink);
	transition: all 400ms ease-in-out;
	/* margin: 0.2rem; */
}

.price_card_container:hover .price_line {
	width: 160px;
}

.price_card_box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 3.2rem;
	z-index: 2;
}

.price_tags > p {
	color: var(--hover_pink);
}
