.text-image {
	width: clamp(200px, 50%, 450px);
	height: auto;
	aspect-ratio: 1 / 1;
	padding: 1.5rem;
}

.intro-flex {
	/* background-color: red; */
	width: 100%;
	/* create a flex box */
	align-items: center;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}

.description {
	/* background-color: green; */
	position: relative;
	/* top: 0.6rem; */
	padding-right: 2rem;
	width: clamp(500px, 40%, 800px);
}

.description > h2 {
	text-align: left;
}

.description > p {
	text-align: left;
}
