@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Raleway:wght@300&display=swap");

:root {
	--main_pink: #b7838e;
	--hover_pink: #803054;
	--font_colour: white;
	--card_colour: #eeb6b6;
}

* {
	box-sizing: border-box;
	user-select: none;
}

/* use for fading in elements */
.fade-in-shorter {
	animation: fadeIn 0.5s ease-in-out;
}

.fade-in-short {
	animation: fadeIn 1s ease-in-out;
}

.fade-in {
	animation: fadeIn 1.4s ease-in-out;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

html,
body {
	padding: 0;
	margin: 0;
	background-color: var(--main_pink);
	/* list font priority */
	font-family: "Raleway", sans-serif, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;
	padding: 0 0rem;
}

#main_title {
	padding: 0 0;
	width: 100vw;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	text-align: center;
	font-size: 4rem;
	font-family: "Cabin", sans-serif;
	color: var(--font_colour);
}

h2 {
	text-align: center;
	font-size: 2.3rem;
	font-family: "Cabin", sans-serif;
	color: var(--font_colour);
	margin-top: 2rem;
	margin-bottom: 1rem;
}

h3 {
	text-align: center;
	font-size: 1.6rem;

	color: var(--hover_pink);
	margin-top: 1rem;
	margin-bottom: 1rem;
}

h4 {
	text-align: center;
	font-size: 1rem;

	color: white;
	margin-top: 1rem;
}

p {
	text-align: center;
	font-size: 1.1rem;
	color: var(--font_colour);
}

a {
	color: var(--font_colour);
	text-decoration: none;
	padding: 0;
	margin: 0;
}

main {
	min-height: 100vh;
	padding: 3rem 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

input,
textarea {
	display: block;
	max-width: 300px;
	margin: 0.5rem 0;
}

nav a {
	/* background-color: green; */
	font-weight: bold;
	margin: 0 0.5rem;
	padding-left: 20px;
	padding-right: 20px;
	/* text-decoration: underline; */
	text-transform: uppercase;
	transition: color 0.2s ease-out 100ms;
}

#navbar {
	/* background-color: var(--main_pink); */
	width: 100vw;
	height: 3vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

nav a:hover {
	color: var(--hover_pink);
}
