.line {
	/* TODO need to create a span tag for width */
	width: clamp(10rem, 20vw, 30rem);
	height: 1px;
	border: 1px solid rgb(255, 255, 255);
	margin: 1rem;
}

.footer {
	margin-top: auto;
}

.footer > p {
	font-size: 0.8rem;
}
